<%= form_with(model: list, class: "contents") do |form| %>
  <% if list.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
        <% list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title , class:"font-semibold m-2"%>
    <%= form.text_field :title, class: "dark:bg-slate-800 w-full rounded-xl focus:border-indigo-600 focus:ring-0" %>
  </div>

  <div class="my-5">
    <%= form.label :description , class:"font-semibold m-2"%>
    <%= form.text_area :description, rows: 4, class: "dark:bg-slate-800 w-full rounded-xl focus:border-indigo-600 focus:ring-0" %>
  </div>

  <!--
  <div class="my-5 flex flex-row">
    <%= form.check_box :public, class: "block mt-2 h-5 w-5" %>
    <%= form.label :public, class:"font-semibold m-2" %>
  </div>
  -->

  <div class="inline">
    <%= form.submit class: "rounded-md bg-gradient-to-r from-blue-800 to-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:scale-110 transition ease-in-out delay-50 duration-200 my-4" %>
  </div>
<% end %>
