<%= form_with(model: @current_user, class: "flex flex-col gap-8") do |form| %>
  <div class="">
    <%= form.label :name,(t 'users.form.name'), class:"block text-sm font-medium leading-6 text-gray-900 dark:text-white" %>
    <%= form.text_field :name, class:"bg-transparent border-0 border-b ring-0 focus:border-indigo-600 focus:ring-0 focus:animate-pulse  w-full " %>
    <% if @current_user.errors[:name].any? %>
      <p class="text-red-500 text-xs italic"> <%= @current_user.errors[:name].join(', ') %></p>
    <% end %>
  </div>

  <div class="">
    <%= form.label :nickname,(t 'users.form.nickname'), class:"block text-sm font-medium leading-6 text-gray-900 dark:text-white" %>
    <%= form.text_field :nickname, class:"bg-transparent border-0 border-b ring-0 focus:border-indigo-600 focus:ring-0 focus:animate-pulse  w-full " %>
    <% if @current_user.errors[:nickname].any? %>
      <p class="text-red-500 text-xs italic"> <%= @current_user.errors[:nickname].join(', ') %></p>
    <% end %>
  </div>

  <div class="">
    <%= form.submit t('users.form.save'),class: "rounded-md bg-gradient-to-r from-emerald-600 to-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:scale-110 transition ease-in-out delay-50 duration-200 my-4" %>
  </div>
<% end %>
