<%= form_with model: @link, local: true, class: "flex flex-col gap-8" do |form| %>

  <div>
    <%= form.label :kind, (t 'links.form.kind'), class: "text-sm" %>
    <%= form.select :kind, Link.kinds.map{|k,v| [t("activerecord.attributes.link.kind.#{k}"), v]},{},{ class: "bg-transparent border-0 border-b ring-0 focus:border-indigo-600 focus:ring-0 focus:animate-pulse w-full "} %>
  </div>

  <div>
    <%= form.label :link,'*' + (t 'links.form.link'), class:"text-sm" %>
    <%= form.text_field :link, class:"bg-transparent border-0 border-b ring-0 focus:border-indigo-600 focus:ring-0 focus:animate-pulse  w-full " %>
    <div class="flex flex-wrap w-60">
      <% if @link.errors[:link].any? %>
        <p class="text-red-500 text-xs italic"> <%= @link.errors[:link].join(', ') %></p>
      <% end %>
    </div>
  </div>
  <div>
    <%= form.label :title,'*' + (t 'links.form.title'), class:"text-sm" %>
    <%= form.text_field :title, class:"bg-transparent border-0 border-b ring-0 focus:border-indigo-600 focus:ring-0 focus:animate-pulse w-full " %>
    
    <div class="flex flex-wrap w-60">
    <% if @link.errors[:title].any? %>
      <p class="text-red-500 text-xs italic"> <%= @link.errors[:title].join(', ') %></p>
    <% end %>
    </div>
  </div>
  <div>
    <%= form.label :description,(t 'links.form.description'), class:"text-sm" %>
    <%= form.text_area :description, class:"bg-transparent border-0 border-b ring-0 focus:border-indigo-600 focus:ring-0 focus:animate-pulse w-full " %>

    <div class="flex flex-wrap w-60">
    <% if @link.errors[:description].any? %>
      <p class="text-red-500 text-xs italic"> <%= @link.errors[:descriptiono].join(', ') %></p>
    <% end %>
    </div>
  </div>

  <div class="mt-6 flex items-center justify-end gap-x-6">
    <a href="/" class="text-sm font-semibold leading-6 text-gray-900 dark:text-white"><%= t 'links.form.cancel' %></a>
    <%= form.submit ( t 'links.form.save'), class: "rounded-md bg-gradient-to-r from-blue-600 to-purple-700 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 hover:scale-110 transition ease-in-out delay-50 duration-200" %>
  </div>
<% end %>
