<div class="flex flex-col relative">
  <% if @q %>
    <!--
    <div class="flex flex-row justify-end gap-2 m-2 absolute right-0 -top-10">
      <%= sort_link(@q, :reaction_like, 'Voted', default_order: :desc) %>
      <%= sort_link(@q, :created_at, 'Creado', default_order: :desc) %>
    </div>
    -->
  <% end %>
  <div class="grid gap-8 grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
    <% @records.each do |l| %>
      <div class="bg-slate-100 dark:bg-slate-900 p-2 rounded-xl relative md:h-64">
        <div class="flex-row gap-2 flex-col">

          <% if l.thumbnail.attached? %>
            <!--
            <div class="rounded-lg h-56 relative overflow-hidden " <% unless l.blurhash.blank? %>data-controller="blurhash"<% end %> data-blurhash-blurhash-value="<%= l.blurhash %>">
              <img class="absolute top-0 left-0 w-full h-full object-cover" src="<%= url_for(l.thumbnail) if l.thumbnail.attached? %>" alt="Screenshot of the website <%= l.link %>">
            </div>
            -->
          <% end %>

          <div class="w-full p-2">

            <div class="pb-4 flex justify-between">
              <span class="p-1 px-2 md:p-2 md:px-4 rounded-full text-sm font-semibold <%= kind_to_color_class(l.kind) %>"><%= t("activerecord.attributes.link.kind.#{l.kind}")  %></span>
              <div class="flex justify-between items-center flex-row">
                <div <% unless session[:user_id].nil? %>data-controller="reactions" data-reactions-link-value="<%= l.id %>" class="flex flex-row" data-reactions-like-value="<%= @current_user_reactions.find{|r| r.relationship_type == "like" && r.link_id == l.id }.try(:id) %>" data-reactions-dislike-value="<%= @current_user_reactions.find{|r| r.relationship_type == "dislike" && r.link_id == l.id }.try(:id) %>" <% end %> >
                  <div class="flex flex-row">
                    <div  class="flex flex-row items-center gap-2">
                      <p data-reactions-target="count" class="text-xs font-semibold"><%= l.reaction_like %></p>
                      <button <% if session[:user_id].nil? %>data-action="modal#open"<% end %> data-action="reactions#voteUp" role="img" aria-label="Like" data-reactions-target="buttonUp" class="hover:scale-110 transition ease-in-out delay-50 duration-200">
                        <svg fill="currentColor" class="w-7" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M12 22c5.514 0 10-4.486 10-10S17.514 2 12 2 2 6.486 2 12s4.486 10 10 10zm0-15 5 5h-4v5h-2v-5H7l5-5z"></path></g></svg>
                      </button>
                    </div>
                    <div  class="flex items-center flex-col-reverse w-8">
                      <button <% if session[:user_id].nil? %>data-action="modal#open"<% end %> data-action="reactions#voteDown" role="img" aria-label="Dislike" data-reactions-target="buttonDown" class="hover:scale-110 transition ease-in-out delay-50 duration-200">
                        <svg fill="currentColor" class="w-7" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" transform="rotate(180)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M12 22c5.514 0 10-4.486 10-10S17.514 2 12 2 2 6.486 2 12s4.486 10 10 10zm0-15 5 5h-4v5h-2v-5H7l5-5z"></path></g></svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <a href="<%= link_url(l) %>" >
              <div class="flex flex-col">
                  <h3 class="font-semibold text-xl my-2 hover:underline line-clamp-2"><%= l.title %></h3>
              </div>

              <p class="line-clamp-2 text-sm fnt-semibold dark:text-slate-400 my-2">
                <%= l.description %>
              </p>
            </a>

            <div class="flex flex-wrap gap-2 py-2">
              <% l.tags[0..2].each do |t| %>
                <span class="rounded-xl dark:text-slate-400 text-slate-600 text-sm ">#<%= link_to t.name, tag_path(t) %></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>

  <div class="mx-auto py-8 pb-12 text-xs">
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </div>
</div>
