<div class="flex flex-col">
  <% @records.each do |l| %>
    <div class="mb-8 bg-slate-100 dark:bg-slate-900 p-2 rounded-xl relative shadow shadow-indigo-500/50">
      <div class="flex sm:flex-row gap-2 flex-col">
        
        <% if l.thumbnail.attached? %>
          <div class="rounded-lg h-56 sm:w-3/4 relative overflow-hidden " data-controller="blurhash" data-blurhash-blurhash-value="<%= l.blurhash %>">
              <img class="absolute top-0 left-0 w-full h-full object-cover" src="<%= url_for(l.thumbnail) if l.thumbnail.attached? %>" alt="Screenshot of the website <%= l.link %>">
          </div>
        <% end %>

        <div class="w-full m-2">
          <div class="flex flex-wrap gap-2 mb-2">
            <span class="px-2 py-1 rounded-xl text-xs font-semibold bg-gradient-to-r from-pink-400 to-amber-500 text-white hover:scale-110 transition ease-in-out delay-50 duration-200"><%= t("activerecord.attributes.link.kind.#{l.kind}")  %></span>
            <% l.tags[0..2].each do |t| %> 
              <span class="px-2 py-1 rounded-xl text-xs bg-gradient-to-r from-blue-600 to-purple-700 text-white hover:scale-110 transition ease-in-out delay-50 duration-200"><%= link_to t.name, tag_path(t) %></span>
            <% end %>
          </div>

          <div class="flex flex-col">
            <a href="<%= l.link %>" target="_blank">
              <span class="text-sm text-slate-800/80 dark:text-slate-400 line-clamp-1"><%= l.link %></span>
              <h3 class="font-semibold text-xl py-1 hover:underline line-clamp-1"><%= l.title %></h3>
              <p class="line-clamp-4 md:line-clamp-3 text-sm md:text-md"><%= l.description %></p>
            </a>
          </div>

          <div class="flex justify-between items-center flex-row my-2">
            <a href="<%= user_url(l.user) %>" target="_blank" class="flex flex-row pt-2">
              <img class="w-6 h-6 rounded-full" src="<%= url_for(l.user.avatar) %>" alt="User avatar">
              <p class="text-center ml-2"><%= l.user.nickname %></p>
            </a>
            <div class="grid grid-cols-2">
              <div class="flex items-center flex-col-reverse w-11">
                <span role="img" aria-label="Like">👍</span>
                <p class="text-xs"><%= l.reaction_like %></p>
              </div>
              <div class="flex items-center flex-col-reverse">
                <span role="img" aria-label="Love">👎</span>
                <p class="text-xs"><%= l.reaction_dislike %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="mx-auto py-8 pb-12 text-xs">
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </div>
</div>

