<div class="w-full md:w-4/5 xl:w-3/5 mx-auto text-center pb-10 border-b mb-20 border-slate-800">
  <h1 class="text-slate-800 dark:text-slate-100 text-3xl md:text-5xl font-semibold pb-4">
    <%= t 'title' %>
  </h1>
  <h2 class="md:text-lg w-11/12 mx-auto"><%= t 'description' %></h2>
  <%= render "application/share" %>
</div>

<div class="grid grid-cols-1 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8 pb-2 md:pb-6 gap-6">
  <div class="col-span-1 md:col-span-4 lg:col-span-2 h-min">
    <%= render "application/search_section"%>
  </div>

  <div id="list" class="col-span-1 md:col-span-4 lg:col-span-4 xl:col-span-6">
    <%= render "list" %>
  </div>
</div>


