<div class="grid grid-cols-1 md:grid-cols-4 xl:grid-cols-6 md:mx-auto pb-2 md:pb-6">

  <div class="col-span-1 md:col-span-4 xl:col-start-2 xl:col-span-4 text-center pb-10 border-b mb-10 border-slate-800">
    <h1 class="text-slate-800 dark:text-slate-100 text-3xl md:text-5xl font-semibold pb-4">
      <%= t 'title' %>
    </h1>
    <h2 class="md:text-lg w-11/12 mx-auto"><%= t 'description' %></h2>
  </div>

  <%= render "application/popular_tags"%>

  <div class="col-span-1 md:col-span-4 lg:col-span-3 xl:col-span-4 xl:col-start-2 md:w-11/12 md:mx-auto relative">
    <%= render "list" %>
  </div>

  <%= render "application/share"%>
</div>


