<nav class="flex text-center flex-row text-left justify-between py-4 px-6 bg-whit items-baseline w-full">
  <div class="mb-2 sm:mb-0 rounded">
    <a href="/" class=""> <img class="h-7 dark:invert" src="/logo_2048.png" alt=""> </a>
  </div>
  <div class="my-auto flex flex-row-reverse items-center">
    <button data-controller="dark-mode" data-action="click->dark-mode#toggleDarkMode" class="hover:scale-110 transition ease-in-out delay-50 duration-200 px-4 py-2 rounded">
      <svg id="sun-icon" data-dark-mode-target="sunIcon" class="w-6 h-6 text-yellow-500" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <!-- SVG code for a sun icon (light mode) -->
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <path d="M3.32031 11.6835C3.32031 16.6541 7.34975 20.6835 12.3203 20.6835C16.1075 20.6835 19.3483 18.3443 20.6768 15.032C19.6402 15.4486 18.5059 15.6834 17.3203 15.6834C12.3497 15.6834 8.32031 11.654 8.32031 6.68342C8.32031 5.50338 8.55165 4.36259 8.96453 3.32996C5.65605 4.66028 3.32031 7.89912 3.32031 11.6835Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </g>
        </svg>
      </svg>
      <svg id="moon-icon" data-dark-mode-target="moonIcon" class="w-6 h-6 text-yellow-500 hidden" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <!-- SVG code for a moon icon (dark mode) -->
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <path d="M12 3V4M12 20V21M4 12H3M6.31412 6.31412L5.5 5.5M17.6859 6.31412L18.5 5.5M6.31412 17.69L5.5 18.5001M17.6859 17.69L18.5 18.5001M21 12H20M16 12C16 14.2091 14.2091 16 12 16C9.79086 16 8 14.2091 8 12C8 9.79086 9.79086 8 12 8C14.2091 8 16 9.79086 16 12Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </g>
        </svg>
      </svg>
    </button>
    <div class="text-sm no-underline text-grey-darkest hover:text-blue-dark ml-2">
      <% if session[:user_id].nil? %>
        <%= render "login" %>
      <% else %>
        <% @current_user = User.find(session[:user_id]) if @current_user.nil? %>
        <div class="relative group" data-controller="drop-down-menu">
          <!-- User avatar icon -->
          <div class="flex flex-row">
            <span class="font-semibold hidden md:block p-2"><%= @current_user.name %></span>
            <button id="user-menu" class="focus:outline-none w-8 hover:scale-110 transition ease-in-out delay-50 duration-200" data-action="click->drop-down-menu#toggle">
              <img src="<%= url_for(@current_user.avatar) %>" alt="" class="border border-sky-400 p-1 rounded-full w-max">
            </button>
          </div>
          <!-- User dropdown menu -->
          <div data-drop-down-menu-target="menu" id="user-dropdown" class="hidden absolute right-0 z-10 mt-2 py-2 w-56 origin-top-right rounded-md bg-white dark:bg-neutral-800 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
            <div class="" role="none">
              <a href="<%= edit_user_path(@current_user) %>" class="hover:bg-slate-100 dark:hover:bg-neutral-700 text-gray-700 dark:text-white block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0"><%= t 'my_account' %></a>
              <a href="<%= user_path(@current_user) %>" class="hover:bg-slate-100 dark:hover:bg-neutral-700 text-gray-700 dark:text-white block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1"><%= t 'my_profile' %></a>
              <%= link_to (t 'exit'), "/sessions/sign_out", class:"hover:bg-red-100 dark:hover:bg-red-900 text-gray-700 dark:text-white block px-4 py-2 text-sm border-t", role: "menuitem", tabindex: "-1", id: "menu-item-2" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</nav>
